[submodule "app/common--database-manager--postgres"]
	path = app/common--database-manager--postgres
	url = https://github.com/GrowthJockey/common--database-manager--postgres.git
[submodule "app/common--type-definitions"]
	path = app/common--type-definitions
	url = https://github.com/GrowthJockey/common--type-definitions.git
[submodule "app/common-remix--kms--intellsys-kms"]
	path = app/common-remix--kms--intellsys-kms
	url = https://github.com/GrowthJockey/common-remix--kms--intellsys-kms.git
[submodule "app/common-remix--utilities"]
	path = app/common-remix--utilities
	url = https://github.com/GrowthJockey/common-remix--utilities.git
[submodule "app/routes/app/global-common-typescript"]
	path = app/routes/app/global-common-typescript
	url = https://github.com/GrowthJockey/global-common-typescript.git
